# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [4]:
import pandas as pd
import os

!pwd

/Users/Aerlinger/Dropbox/GeneralAssembly/DAT-NYC-37/lessons/lesson-03/code

In [7]:
data = pd.read_csv('../../lesson-02/assets/dataset/ozone.csv')

In [8]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [9]:
for value in data.columns.values:
    print value

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [12]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [13]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [14]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [19]:
data.loc[46]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

How many missing values are in the Ozone column of this data frame?

In [54]:
data[['Ozone']].isnull().count(axis=0) - data[['Ozone']].count(axis=0)

Ozone    37
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [69]:
data.mean(skipna=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [84]:
# data[data['Ozone'] > 31]['Solar.R'].mean()

data[data['Ozone'] > 31]

[[0       True
  1       True
  2      False
  3      False
  4      False
  5      False
  6      False
  7      False
  8      False
  9      False
  10     False
  11     False
  12     False
  13     False
  14     False
  15     False
  16      True
  17     False
  18     False
  19     False
  20     False
  21     False
  22     False
  23      True
  24     False
  25     False
  26     False
  27     False
  28      True
  29      True
         ...
  123     True
  124     True
  125     True
  126     True
  127     True
  128     True
  129    False
  130    False
  131    False
  132    False
  133     True
  134    False
  135    False
  136    False
  137    False
  138     True
  139    False
  140    False
  141    False
  142    False
  143    False
  144    False
  145     True
  146    False
  147    False
  148    False
  149    False
  150    False
  151    False
  152    False
  Name: Ozone, dtype: bool]]

What is the mean of "Temp" when "Month" is equal to 6?

In [90]:
# 79.1
data[data['Month'] == 6]["Temp"].mean()

79.099999999999994

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [91]:
data[data['Month'] == 5]["Ozone"].max()

115.0

In [92]:
data.sort_index?

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas