# Numpy and Pandas

## Goals

- Introduce the numpy and pandas libraries.

Learning objectives:

      - Numpy arrays and its mathmateical abilities
      
      - Importing data into pandas using CSVs
      
      - Slicing and filtering pandas dataframes
      
      - Cleaning data
      
      - Statistics and other math with pandas


- Two common Python libraries used for statistical analysis, data munging/wrangling/transformation, and other mathematical purpose.

- To put it simply, there is your connection to the data. Pandas is the most important tool because you'll spend the most time and effort with it.

### Numpy

Numpy has a wide ecosystem of functions and uses but for the purpose of this course we will focus on arrays aka numpy's version of a list

In [ ]:
# Import library
import numpy as np

In [ ]:
#Let's turn a list into an array

l = [3,2,6,7,9,1,2,-5]

array =

In [ ]:
#Call it

In [ ]:
#Call type

How arrays differ from lists

In [ ]:
#Does this code work

In [ ]:
#What about this?

In [ ]:
#Multiply l by 2

In [ ]:
#Multiply array by 2 
array * 2

Numpy array have mathematical abilities that lists don't have, which makes them easier to use

In [ ]:
#Mean value
array.mean()

In [ ]:
l.mean()

In [ ]:
#Maximum value
array.max()

In [ ]:
#Mininum value
array.min()

In [ ]:
#Sum all values
array.sum()

In [ ]:
#Find standard deviation
array.std()

In [ ]:
array.s

In [ ]:
#What happens when you do this
dir(array)

Can also use numpy itself to call certain functions

In [ ]:
#Median
np.median(array)

In [ ]:
#Square
np.square(array)

In [ ]:
#Square root
np.sqrt(array)

In [ ]:
# Absolute value
np.abs(array)

In [ ]:
# dir(np)

Arrays can also be multi-dimensional

In [ ]:
#Make two dimensional numpy as with arange and reshape functions

np.arange(16)

In [ ]:
#Reshape array
arr_2d = np.arange(16).reshape(4,4)
arr_2d

<b>Slicing two dimension array<b>

In [ ]:
#Slice rows
arr_2d[:2, :]

In [ ]:
#Slice columns 
arr_2d[:,1:3]

In [ ]:
#Slice both rows and columns
arr_2d[2:,1:3]

In [ ]:
arr_2d

In [ ]:
#Slice specific value
arr_2d[:,2]

Fantastic numpy tutorial here: https://www.datacamp.com/community/tutorials/python-numpy-tutorial

## Pandas

From <u>[Mastering Pandas](https://www.packtpub.com/big-data-and-business-intelligence/mastering-pandas)</u>

    The pandas is a high-performance open source library for data analysis in Python developed by Wes McKinney in 2008. Over the years, it has become the de-facto standard library for data analysis using Python. There's been great adoption of the tool, a large community behind it, (220+ contributors and 9000+ commits by 03/2014), rapid iteration, features, and enhancements continuously made.
    
    • It can process a variety of data sets in different formats: time series, tabular heterogeneous, and matrix data.
    • It facilitates loading/importing data from varied sources such as CSV and DB/SQL.
    It can handle a myriad of operations on data sets: subsetting, slicing,  ltering, merging, groupBy, re-ordering, and re-shaping.
    • It can deal with missing data according to rules defined by the user/ developer: ignore, convert to 0, and so on.
    • It can be used for parsing and munging (conversion) of data as well as modeling and statistical analysis.
    • It integrates well with other Python libraries such as statsmodels, SciPy, and scikit-learn.

In [ ]:
#Import pandas library
import pandas as pd

In [ ]:
#Create a pandas series.
series = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
series

In [ ]:
#Return row
series["c"]

In [ ]:
#Change value in the series
series["d"] = 2.0
series

In [ ]:
#Turn python dictionary into pandas series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
#Call California
population["California"]

In [ ]:
#Turn python dictinonary into pandas data frame

data = {"feature_one" :[1,2,4,8,-3],
       "feature_two" : ["haight", "mission", "geary", "castro", " potrero"],
       "feature_three": [True, True, False, True, False]}
df = pd.DataFrame(data, index=[6,7,8,9,10])

df

In [ ]:
#Returns columns
df.columns

In [ ]:
#Returns index
df.index

In [ ]:
#Returns numpy array version of data frame. Also works on series.
df.values

In [ ]:
#Call type on df
type(df)

In [ ]:
#Call feature_one column
f1 = df["feature_one"]
f1

In [ ]:
#df.feature_one also works
df.feature_one

In [ ]:
#Call type on f1
type(f1)

In [ ]:
#Select columns 
cols = ["feature_one", "feature_two"]
dff = df[cols]
dff

In [ ]:
#Add new column to dataset

#Create new column feature_four by assigning it to number 4
df["feature_four"] = 4

#Create new column feature_five by assigning it to list ds
ds = ["Data", "Science", "Math", "Programming", "Hacking"]
df["feature_five"] = ds
df

First dataset we will work with is the the drinks dataset

In [ ]:
#File location of drinks dataset
path = "../data/drinks.csv"

drinks = pd.read_csv(path)

In [ ]:
#Head is used to view first 5 rows. 5 is default but can be changed.

drinks.head()

In [ ]:
#Tail is for last five rows
drinks.tail()

In [ ]:
#Let's designate the country column as the index
drinks.set_index("country")

In [ ]:
drinks.head()

In [ ]:
#How many rows and columns are there in this dataset?
drinks.shape

General dataset information

In [ ]:
#Lets look at this some details of this dataset
drinks.info()

In [ ]:
drinks.describe()

In [ ]:
drinks.corr()

What do these two commands do?

## Slicing dataframes

.loc

In [ ]:
# Select values in Peru row
drinks.loc["Peru"]

In [ ]:
#Select values in wine_servings column
# drinks.loc[:,"wine_servings"]

In [ ]:
#Slice countries Germany to Guyana and columns beer_servings to wine_servings
drinks.loc["Germany": "Guyana", "beer_servings": "wine_servings"]

.iloc

In [ ]:
#What do you think iloc does???

In [ ]:
drinks.iloc[130:135, :2]

In [ ]:
#Returns row at index 48
drinks.iloc[48]

In [ ]:
#Returns column at index 1
drinks.iloc[:, 1].head()

In [ ]:
#Return slice of rows and columns
drinks.iloc[100:134, :-2]

In [ ]:
drinks.iloc[:,[0,4]]

iloc slices dataframes using the integer index.

<b>Conditional selection<b>

What happens when you run the next two cells?

In [ ]:
drinks.continent == "EU"

In [ ]:
drinks.wine_servings > 20

Take those commands and pass them into the drinks data frame

In [ ]:
drinks[drinks.continent == "EU"]

In [ ]:
#Rows where wine_servings greater than 20
drinks[drinks.wine_servings > 20]

In [ ]:
#What if we want non-European countries?
drinks[drinks.continent != "EU"]

`drinks.continent=='EU'` by itself returns a bunch of Trues and Falses.

When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

In [ ]:
#Return a data frame where both conditions are true
drinks[(drinks.continent == "EU") & (drinks.wine_servings > 20)]

In [ ]:
#Return data frame where either condition is true
drinks[(drinks.continent == "EU") | (drinks.wine_servings > 20)].shape

In [ ]:
#Return rows where wine_serving is greater than beer_servings
drinks[drinks.wine_servings > drinks.beer_servings]

In [ ]:
#Call .index to return just the countries
drinks[drinks.wine_servings > drinks.beer_servings].index

We can sum boolean values.

In [ ]:
#How many countries consume no beer at all?
(drinks.beer_servings == 0).sum()

In [ ]:
# drinks.to_csv("drinks2.csv")

<b>Pandas Series<b>

In [ ]:
#Assign beer_servings to variable beer
beer = drinks["beer_servings"]
beer.head()

In [ ]:
#Can do math operations similar to numpy arrays
#Multiply every value in beer by 
beer*2

In [ ]:
#Add 2 to every value in beer
beer + 2

In [ ]:
#Derive mean of beer
beer.mean()

In [ ]:
#Derive median of beer
beer.median()

In [ ]:
#Sum all values in beer
beer.sum()

In [ ]:
#Pandas series can be added to one another
wine = drinks.wine_servings
beer + wine

In [ ]:
#Create a new column call total_servings that is the sum of the beer, wine, and spirits columns
drinks["total_servivings"] = beer + wine + drinks.spirit_servings
drinks.head()

In [ ]:
pd.read_sq

In [ ]:
#Let's take a look at continent
cont = drinks.continent

In [ ]:
#How many null values are there in continent
#First check to see which values are null
cont.isnull().sum()

In [ ]:
cont.head(10)

In [ ]:
#Replace every null with "No Continent"
cont.fillna("No Continent", inplace=True)

In [ ]:
cont.isnull().sum()

`.fillna()` is great replacing all the null values in a numerical column with the mean of that column

In [ ]:
#Drop every null value in cont
#cont.dropna(inplace=True)

`.isnull()`, `.fillna()`, and `.dropna()` work with data frames as well

In [ ]:
#What are the continents in cont?
cont.unique()

In [ ]:
#How many unique values there are
cont.nunique()

In [ ]:
#How many countries are from each continent?
cont.value_counts()

In [ ]:
#What percentage of the data belongs to each continent
cont.value_counts(normalize=True)

Lets go back to drinks data frame

In [ ]:
drinks.columns

In [ ]:
drinks.rename(columns={"total_servivings":"total_servings"}, inplace=True)

In [ ]:
#Show me the top 5 booziezt countries
drinks.sort_values(by="total_servings", ascending=False).head()

Does that seem right?

We're forgetting something

In [ ]:
drinks.sort_values(by="total_servings", ascending=False).head().index

Sorting in python defaults to going from least to greatest

In [ ]:
#This also works (kinda)
drinks.sort_values(by="total_servings").tail().index

In [ ]:
#Sort values in a series
# beer.sort_values(ascending=False)

### Exercise time

1. Which countries drink more spirits than beer?

2. Find the top five booziest countries of each continent, do not include "No continent." Try using dictionary and for loop.

In [ ]:
#Answer 1.
drinks[drinks.spirit_servings > drinks.beer_servings].index

In [ ]:
#Answer 2.

top5_cont = {}

for i in drinks.continent.unique():
    if i != "No Continent":
        cont_df = drinks[drinks.continent == i]
        top5 = cont_df.sort_values(by="total_servings", ascending=False).head().index.tolist()
        top5_cont[i] = top5
top5_cont

## Groupby

**Split Apply Combine**

<img src="https://www.safaribooksonline.com/library/view/learning-pandas/9781783985128/graphics/5128OS_09_01.jpg">

In [ ]:
#Group by continent
drinks.groupby("continent")

In [ ]:
#Data needs to be accessed by certain methods
#Call .mean()
drinks.groupby("continent").mean()

In [ ]:
#Call .median()
drinks.groupby("continent").median()

In [ ]:
#What happens when you do .describe()
drinks.groupby("continent").describe()

In [ ]:
#Call specific column on groupby object and find the minimum value
drinks.groupby("continent")["beer_servings"].min()

In [ ]:
#Find the max
drinks.groupby("continent")["beer_servings"].max()

End of drinks data. Any questions before we move on?

In [ ]:
#Read in chiptole dataset

path = "../data/chipotle.tsv"
#Use read_table instead read_csv
chip = pd.read_table(path)
chip.head()

We can see that there are some NaN present in the data set. Let's look at how many there are in each column.

In [ ]:
#Call .isnull() and then call .sum()
chip.isnull().sum().sum()

In [ ]:
#What happens when you tack on another .sum()?

We need to fix the price column before converting it to a float

In [ ]:
#Whats is item_price type?
chip.item_price.dtype

Pandas series have a string (`str`) method that lets you treat a column like a string

In [ ]:
#Call .str
chip.item_price.str.replace("$", "")

In [ ]:
#Replace $ with empty string and overwrite item_price column
chip["item_price"] = chip.item_price.str.replace("$", "")

In [ ]:
#Change the type of column from object to float and overwrite item_price column
chip["item_price"] = chip.item_price.astype(float)

In [ ]:
chip.head()

In [ ]:
chip.dtypes

More examples of using the `str`

In [ ]:
chip.item_name.str.capitalize()

In [ ]:
chip.item_name.str.lower()

In [ ]:
chip.item_name.str.len()

We know how to drop rows with null values but how do we drop columns with null values?

In [ ]:
#Drop columns with null values
# chip.dropna(axis= 1)

Remember `chip.isnull().sum()`?

In [ ]:
#Set axis = 1 in .sum()
chip.isnull().sum(axis=1).sum()

Axis refers to which direction you wish your command to follow. 1 == columns, 0 = rows. 0 is the default.

This is handy when it comes to dropping rows and columns

In [ ]:
#Lets get rid of the item_name column

chip.drop("item_name", axis=1)

Why didn't this work?

Forgot to do axis = 1 !!

Let's try it again

In [ ]:
chip.drop("item_name")

In [ ]:
#Make it permanent
# chip.drop("item_name", axis = 1, inplace=True)

If you want to drop rows pass index name or list of index names

In [ ]:
chip.drop([0, 2, 4, 6, 8])

Move on from Chipotle to Movie metadata

In [ ]:
#Load in movie_metadata dataset
path = "../data/movie_metadata.csv"

movies = pd.read_csv(path)
movies.head()

In [ ]:
movies.shape

In [ ]:
movies.columns

In [ ]:
#Check out the info
movies.info()

In [ ]:
#Replace nulls in budget with median of budget
movies.budget.fillna(movies.budget.median(), inplace=True)

In [ ]:
#Drop nulls permanently
movies.dropna(inplace=True)

In [ ]:
#How many rows are ther post null dropping?
movies.shape

Filter out some data. Let's only look at movies that are rated G, PG, PG-13, and R.
We could do it this way movies[(movies.content_rating=="G") etc...]

But let's not!

In [ ]:
#List called ratings with the four ratings we want to use
ratings = ["G", "PG", "PG-13", "R"]

In [ ]:
movies.content_rating.unique()

In [ ]:
#Now lets check to see if a value in content "is in" ratings
movies[movies.content_rating.isin(ratings)]

In [ ]:
#Return new data frame with movies with a rating that is in ratings
movies = movies[movies.content_rating.isin(ratings)]

In [ ]:
#check shape
movies.shape

## Mapping and applying functions

In [ ]:
#Make a new column called profitable by subtracting budget from gross
movies["profit"] = movies.gross -movies.budget
movies.profit.head()

We want to know if a movie is profitable. How can we go about doing that?
With some python!

In [ ]:
#Make a function that returns "profitable" for profit > 0 and "loss" for profit <= 0
def profit_decider(x):
    if x > 0:
        return "profitable"
    else:
        return "loss"

In [ ]:
#Apply the function onto the profit column
# movies.profit.apply(profit_decider)

In [ ]:
#Make new column called "profitable"
movies["profitable"] = movies.profit.apply(profit_decider)

In [ ]:
#How many movies are profitable and not profitable
movies.profitable.value_counts()

Use lambda functions

In [ ]:
#Return 1 for movies directed by Christopher Nolan
# movies.director_name.apply(lambda x: 1 if x == "Christopher Nolan" else 0)

`.apply()` allows us to transform values based on rules set by a function.

`.map()` allows us to use a dictionary to directly change values

In [ ]:
#Example of changinge male to m and female to f
data.gender.map({"male":"m", "female":"f"})

A parent wants to make a new column called kid friendly where movies that G or PG are labelled "KF" and PG-13 and R movies are labelled "NKF"

In [ ]:
#Map a dictionary onto the content_rating column and create new column called "kid_friendly"
kf_dict = {"G" : "KF",
          "PG" : "KF",
          "PG-13" : "NKF",
          "R" : "NKF"}


movies["kid_friendly"] = movies.content_rating.map(kf_dict)

In [ ]:
movies.kid_friendly.value_counts()

Remember that you must account for every unique value or you will get null values

## Class work exercises

1) What percent of movies are directed by James Cameron?

2) What are the correlations among budget, gross, and imdb_score?

3) How many PG-13 movies has Robert De Niro starred in?

4) How much money have non-English films generated?

5) Who are the top five grossing directors on average?

5b) Now only look at directors who have directed more than five films

6) How many movies contain "Action" in the genre column? What about Comedy? What about both Comedy and Action?

If you finish the exercises before the end of class, then further investigate the movies dataset on your own or any of the other sets in the data folder.

Be sure to check out any of these pandas resources

- Pandas cheatsheets in the extracurricular directory

- https://chrisalbon.com/ <- Great website. For now check out data wrangling section.

- Data school's collection of resources http://www.dataschool.io/best-python-pandas-resources/

- Data school tutorial in giant repo. http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

- http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
- http://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb

- Repo with Pandas exercises https://github.com/guipsamora/pandas_exercises

- https://github.com/brandon-rhodes/pycon-pandas-tutorial

- https://github.com/jonathanrocher/pandas_tutorial

- https://github.com/chendaniely/scipy-2017-tutorial-pandas

- https://github.com/adeshpande3/Pandas-Tutorial

Youtube is your friend!! They are too many pandas tutorials videos to count.

<b>If you find a good resource be sure to share it with the rest of the class<b>